<div class="log-form">
  <h2>LOGIN</h2>
  <h6>Sign in to your account</h6>
  <form>
    <input type="text" title="email address" placeholder="email address" />
    <input type="password" title="email address" placeholder="password" />
<p>
    <button type="submit" class="btn">Sign in</button>
</p>
<p>
    <%= link_to 'Create an Account?', register_path %>
</p>
  </form>
</div>

<input type="button" value="Go Back" onclick="history.back(-1)" />