<h1>Promotions</h1>

<table class="table table-hover">

  <thead class="thead-dark">
    <tr>
      <th>Buy 2 Get 1 Free</th>
      <th></th>
    </tr>
  </thead>

</table>

<table class="table table-hover">

  <thead class="thead-dark">
    <tr>
      <th>30% Off Next Visit</th>
      <th></th>
    </tr>
  </thead>

</table>

<table class="table table-hover">

  <thead class="thead-dark">
    <tr>
      <th>20% Off Pedicure With Guest</th>
      <th></th>
    </tr>
  </thead>

</table>