<form>
  <div class="container">
    <h1>Leave A Review</h1>
    <hr>

    <input type="text" placeholder="Name" name="name" id="name" required>

    <input type="text" placeholder="Email" name="email" id="email" required>

    <input type="service code" placeholder="Service Code" name="service-code" id="service-code" required>
    <label for="service-code"><b>Note: The service code is provided on your receipt/confirmation email</b></label>
   
    <input type="your review" placeholder="Leave a Review Here" name="your-review" id="your-review" required>
    <hr>

        <div>
            <label>Rate how your experience from 1-5, 1 being "bad" and 5 being "great"</label>
                <select id="rating" name="rating">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    </select>
        </div>

    <button type="submit" class="registerbtn">Post Review</button>
  </div>


</form>