
<div style="padding:20px;">
<h2>Welcome to Nail Salon</h2>
<p>We take great pride in servicing the community to give a great service and be your one stop shop for pampering!</p>
</div>

<div style="padding:15px;">
<p>
  Come visit us at 7107 Juniper Road Fairbend, TN, 37062!
</p>

<p>
  Store Hours:
</p>

<ul>
  <li>Monday: 10am - 7pm</li>
  <li>Tuesday: 10am - 7pm</li>
  <li>Wednesday: 10am - 7pm</li>
  <li>Thursday: closed</li>
  <li>Friday: 10am - 7pm</li>
  <li>Saturday: 12pm - 6pm</li>
  <li>Sunday: closed</li>
</ul>

</div>

<p class="mt-3" style="padding: 20px">
  <%= link_to 'Book Appointment', bookappt_path, class: 'btn btn-primary btn-lg active' %>
</p>


<div class="manicure" style="padding: 20px">
  <div class="card w-75">
    <h5 class="card-header">Manicure</h5>
    <div class="card-body">
      <h5 class="card-title">Regular Manicure</h5>
      <p class="card-text">This is the traditional service that includes a process something like this: remove old polish, buff and shape nails, short hand massage, apply base coat, wait for base coat to dry, add quick-dry top coat, pay and go.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
</div>

<div class="pedicure" style="padding: 20px"> 
  <div class="card w-75">
    <h5 class="card-header">Pedicure</h5>
    <div class="card-body">
      <h5 class="card-title">Regular Pedicure</h5>
      <p class="card-text">A simple treatment that includes foot soaking, foot scrubbing with a pumice stone or foot file, nail clipping, nail shaping, foot and calf massage, moisturizer and nail polishing.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
</div>