
<div style="padding:20px;">
<h2>Welcome to Nail Salon</h2>
<p>London is the capital city of England. It is the most populous city in the United Kingdom, with a metropolitan area of over 13 million inhabitants.</p>
</div>

<div style="padding:15px;">
<p>
  Come visit us at 7107 Juniper Road Fairbend, TN, 37062!
</p>

<p>
  Store Hours:
</p>

<ul>
  <li>Monday: 10am - 7pm</li>
  <li>Tuesday: 10am - 7pm</li>
  <li>Wednesday: 10am - 7pm</li>
  <li>Thursday: closed</li>
  <li>Friday: 10am - 7pm</li>
  <li>Saturday: 12pm - 6pm</li>
  <li>Sunday: closed</li>
</ul>

</div>

<p class="mt-3">
  <%= link_to 'Book Appointment', bookappt_path, class: 'btn btn-primary btn-lg active' %>
</p>
